In [1]:
scientists = [{'name': 'Ada Lovelace', 'field': 'math', 'born': 1815, 'nobel': False},
              {'name': 'Emmy Noether', 'field': 'math', 'born': 1882, 'nobel': False},
              {'name': 'pradam', 'field': 'python', 'born': 1991, 'nobel': True},
             ]

In [2]:
import collections

In [3]:
Scientist = collections.namedtuple('Scientist', ['name', 'field', 'born', 'nobel'])

In [4]:
ada = Scientist(**scientists[0])

In [5]:
scientists_1 = [Scientist(**scientists[0]), Scientist(**scientists[1]), Scientist(**scientists[2])]

In [6]:
scientists_1

[Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
 Scientist(name='Emmy Noether', field='math', born=1882, nobel=False),
 Scientist(name='pradam', field='python', born=1991, nobel=True)]

In [7]:
tuple(filter(lambda x: x.nobel is True, scientists_1))

(Scientist(name='pradam', field='python', born=1991, nobel=True),)

In [9]:
filter(lambda x: x.field == 'python',scientists_1)

In [11]:
def kill(x):
    return x.born == 1991 and x.nobel

In [13]:
tuple(filter(kill, scientists_1))

(Scientist(name='pradam', field='python', born=1991, nobel=True),)

In [16]:
tuple(x for x in range(1,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [29]:
#Map Functional Programming
names_and_ages = tuple(map(lambda x:{'name':x.name, 'age':2017-x.born},scientists_1))
names_and_ages

({'age': 202, 'name': 'Ada Lovelace'},
 {'age': 135, 'name': 'Emmy Noether'},
 {'age': 26, 'name': 'pradam'})

In [40]:
#Reduce Functional Programming
from functools import reduce
from pprint import pprint
total_age = reduce(lambda acc, val: acc + val['age'], names_and_ages, 0)
total_age
jobs = {'math':[], 'python':[]}
def reducer(acc, val):
    jobs[val.field].append(val.name)
sc_field = reduce(reducer, scientists_1, jobs)
import collections
sc_field = reduce(reducer, scientists_1, collections.defaultdict(list))
pprint(jobs)
import itertools
list(itertools.groupby(scientists_1, lambda x:x.field))

{'math': ['Ada Lovelace', 'Emmy Noether', 'Ada Lovelace', 'Emmy Noether'],
 'python': ['pradam', 'pradam']}

[('math', <itertools._grouper at 0x7f4bfcc08400>),
 ('python', <itertools._grouper at 0x7f4bfcc08470>)]

In [32]:
@dataclass
class InventoryItem:
    name: str
    unit_price: float
    quantity_on_hand: int = 0

    def total_cost(self) -> float:
        return self.unit_price * self.quantity_on_hand

NameError: name 'dataclass' is not defined

The history saving thread hit an unexpected error (OperationalError('database or disk is full',)).History will not be written to the database.

In [33]:
import ctypes

In [ ]:
def mutate_int(an_int, new_value):
    ctypes.memmove(id(an_int) + 24, id(new_value) + 24, 8)

In [35]:
a_number = 7

In [36]:
another_number = 7

In [ ]:
mutate_int(a_number, 13)

In [ ]:
a_number

13

In [ ]:
another_number

13

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
13
8
9

In [ ]:
7

13

In [ ]:
6 + 1

13

In [1]:
100 is 100

True

In [2]:
1000 is 1000

True

In [3]:
10000 is 10000

True

In [4]:
985 is 985

True

In [5]:
import dis

In [6]:
def disassemble(code_str):
    dis.dis(compile(code_str, '', 'single'))

In [7]:
disassemble('1000 is 1000')

  1           0 LOAD_CONST               0 (1000)
              2 LOAD_CONST               0 (1000)
              4 COMPARE_OP               8 (is)
              6 PRINT_EXPR
              8 LOAD_CONST               1 (None)
             10 RETURN_VALUE

In [8]:
disassemble('(10**3) is (10 ** 3)')

  1           0 LOAD_CONST               3 (1000)
              2 LOAD_CONST               4 (1000)
              4 COMPARE_OP               8 (is)
              6 PRINT_EXPR
              8 LOAD_CONST               2 (None)
             10 RETURN_VALUE

In [9]:
disassemble('985 is 985')

  1           0 LOAD_CONST               0 (985)
              2 LOAD_CONST               0 (985)
              4 COMPARE_OP               8 (is)
              6 PRINT_EXPR
              8 LOAD_CONST               1 (None)
             10 RETURN_VALUE

In [10]:
import sys

In [11]:
sys.getrefcount(985)

3

In [19]:
def get_ref(a_list, a_var):
    a_list[0] += 42
    a_var += 42

In [20]:
the_list = [0]

In [21]:
the_number = 0

In [22]:
get_ref(the_list, the_number)

In [23]:
the_list

[42]

In [24]:
the_number

0

In [25]:
def modify_argument(a_list, a_number):
    print(id(a_list), id(a_number))
    a_list[0] += 42
    a_number += 42
    print(id(a_list), id(a_number))

In [26]:
the_list = [0]

In [27]:
the_number = 0

In [28]:
print(id(the_list), id(the_number))

140579648709448 140579831262208

In [29]:
modify_argument(the_list, the_number)

140579648709448 140579831262208
140579648709448 140579831263552

In [30]:
print(id(the_list), id(the_number))

140579648709448 140579831262208

In [31]:
class Myclass:
    def method(self):
        return 'instance method called', self
    @classmethod
    def classmethod(cls):
        return 'class method called', cls
    @staticmethod
    def staticmethod():
        return 'static method called'

In [32]:
c = Myclass()

In [33]:
c.method()

('instance method called', <__main__.Myclass at 0x7fdb38fc3cc0>)

In [34]:
c.classmethod()

('class method called', __main__.Myclass)

In [35]:
c.staticmethod()

'static method called'

In [36]:
Myclass.classmethod()

('class method called', __main__.Myclass)

In [37]:
Myclass.staticmethod()

'static method called'

In [38]:
Myclass.method()

TypeError: method() missing 1 required positional argument: 'self'

In [49]:
class Pizza:
    def __init__(self, ingredients):
        self.ingredients = ingredients
    def __repr__(self):
        return f'Pizza({self.ingredients})'
    @classmethod
    def buger(cls):
        return cls.ingredients

In [50]:
p = Pizza('cheese')

In [15]:
class A:
    def __init__(self):
        self.a = 'Pradam'

In [28]:
class B(A):
    def __init__(self):
        super().__init__()

In [29]:
class C(B):
    def __init__(self):
        super().__init__()

In [30]:
c = C()

In [32]:
c.a

'Pradam'

In [29]:
from functools import *
@singledispatch
def a(args):
    if args:
        print("Hi")

@a.register(int)
def _(args):
    print("Bye")

a(8)

In [35]:
class Nun:
    def __call__(self):
        return 'hi'

In [1]:
class Private:
    def __init__(self):
        self.a = 10
        self._b = 20
        self.__c = 30

In [2]:
p = Private()

In [3]:
p.a

10

In [6]:
p._b

20

In [10]:
p._Private__c

30

In [1]:
class User:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

In [2]:
ned = User('ned','stark')

In [3]:
id(ned)

139684572928768

In [6]:
ned.first_name = 'Robb'

In [7]:
id(ned)

139684572928768

In [1]:
from functools import partial

In [10]:
p = partial(int, base=2)

In [11]:
p.__doc__ = 'Convert Integer to base 2'

In [12]:
p('10010')

18

In [17]:
c = 'c:\\hell0\pradam.txt'

In [18]:
c.rsplit('.', 1)

['c:\\hell0\\pradam', 'txt']

In [19]:
import os

In [20]:
os.path.splitext(c)

('c:\\hell0\\pradam', '.txt')